@import "tailwindcss";

@layer reset, base, layout, utilities;

@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	p,
	figure,
	blockquote,
	dl,
	dd {
		margin: 0;
	}

	/* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
	[role="list"] {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	body {
		min-block-size: 100vh;
		line-height: 1.6;
	}

	h1,
	h2,
	h3,
	button,
	input,
	label {
		line-height: 1.1;
	}

	h1,
	h2,
	h3,
	h4 {
		text-wrap: balance;
	}

	p,
	li {
		text-wrap: pretty;
	}

	img,
	picture {
		max-inline-size: 100%;
		display: block;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}
}

@layer base {
	:root {
		/* Custom variables. */
		--clr-100: hsl(0 0% 0%);
		--clr-90: hsl(0 0% 10%);
		--clr-80: hsl(0 0% 20%);
		--clr-70: hsl(0 0% 30%);
		--clr-60: hsl(0 0% 40%);
		--clr-50: hsl(0 0% 50%);
		--clr-40: hsl(0 0% 60%);
		--clr-30: hsl(0 0% 70%);
		--clr-20: hsl(0 0% 80%);
		--clr-10: hsl(0 0% 90%);
		--clr-00: hsl(0 0% 100%);

		--ff-heading: "Montserrat", sans-serif;
		--ff-body: "Genos", sans-serif;

		--fs-300: 0.875rem;
		--fs-400: 1rem;
		--fs-500: 1.125rem;
		--fs-600: 1.25rem;
		--fs-700: 1.5rem;
		--fs-800: 2rem;
		--fs-900: 3.75rem;
		--fs-1000: 3.75rem;

		@media (width > 760px) {
			--fs-300: 0.875rem;
			--fs-400: 1rem;
			--fs-500: 1.25rem;
			--fs-600: 1.5rem;
			--fs-700: 2rem;
			--fs-800: 3rem;
			--fs-900: 5rem;
			--fs-1000: 7.5rem;
		}

		--border-radius-1: 0.25rem;
		--border-radius-2: 0.5rem;
		--border-radius-3: 0.75rem;
	}

	/* Semantic variables */
	:root {
		--font-size-heading-sm: var(--fs-700);
		--font-size-heading-regular: var(--fs-800);
		--font-size-heading-lg: var(--fs-900);
		--font-size-heading-xl: var(--fs-1000);

		--font-size-sm: var(--fs-300);
		--font-size-regular: var(--fs-400);
		--font-size-md: var(--fs-500);
		--font-size-lg: var(--fs-600);

		--text-on-bg-light: var(--clr-70);
		--text-on-bg-base: var(--clr-80);
		--text-on-bg-dark: var(--clr-90);

		--background-light: var(--clr-00);
		--background-base: var(--clr-10);
		--background-dark: var(--clr-30);
	}

	:root {
		/* Global styling */
		html {
			font-family: var(--ff-body);
			line-height: 1.6;
			scroll-padding: 2rem;
		}

		body {
			font-size: var(--font-size-regular);
			color: var(--text-on-bg-base);
			background-color: var(--background-base);
		}

		h1,
		h2,
		h3,
		h4 {
			font-family: var(--ff-heading);
			font-weight: 700;
		}
	}
}

@layer layout {
	/* Select only elements with a preceding sibling.
  i.e. every child except first child. */
	.flow > * + * {
		/* em creates better visual hierarchy since its based off the font size.
    i.e. bigger text will have bigger top margin. */
		margin-top: var(--flow-space, 1em);
	}
}

@layer utilities {
	.visually-hidden {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	.text-center {
		text-align: center;
	}

	.background-base {
		background-color: var(--background-base);
	}
	.background-light {
		background-color: var(--background-light);
	}
	.background-dark {
		background-color: var(--background-dark);
	}
	.font-size-sm {
		font-size: var(--font-size-sm);
	}
	.font-size-regular {
		font-size: var(--font-size-regular);
	}
	.font-size-md {
		font-size: var(--font-size-md);
	}
	.font-size-lg {
		font-size: var(--font-size-lg);
	}
}
